 <%= link_to "Back to all articles", articles_path %>

<h2><%= @article.title %></h2>
<p><%= @article.content %></p>

<%= link_to "Edit article", edit_task_path(@article) %>
<%= link_to "Delete", article_path(@article),
      method: :delete,
      data: { confirm: "Are you sure?" } %>

